.book-menu-view>header {
    font-size: 30px;
    padding: 30px 10px;
    font-weight: 800;
    border-bottom: 1px solid rgb(173, 168, 168);
}

.book-menu-view>div {
    font-size: 0;
    white-space: nowrap;
}

.book-menu-view>div>div {
    white-space: normal;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.book-menu-view .menu {
    width: 260px;
    padding: 10px;
}

.book-menu-view .menu>div {
    padding: 10px 0 3px 0;
    cursor: pointer;
}

.book-menu-view .menu>div[active='yes'] {
    color: red;
}

.book-menu-view .content {
    width: 740px;
}

.book-menu-view ul {
    margin-left: 20px;
    line-height: 2em;
}

.book-menu-view li {
    cursor: pointer;
}
