.doc-view {
    margin-bottom: 30px;
}

/* 特殊的自由样式 */

.doc-view .warn {
    font-size: 12px;
    color: #dac305;
    font-weight: 400;
}

/* 复制按钮 */

.doc-view .copy-btn:hover {
    color: rgb(233, 2, 2);
}

/* 校对已有样式 */

.doc-view .link {
    padding: 0 10px;
}


/* 下载按钮 */
.doc-view .download {
    line-height: 1.6em;
    display: inline-block;
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    font-size: 14px;
    cursor: pointer;
    color: #53c1ec;
    background-image: url(../assets/download.png);
    cursor: pointer;
}

/* 标题 */

.doc-view>h5 {
    font-size: 13px;
    padding: 15px 0 5px 0;
}

.doc-view>h5::before {
    content: "* ";
    color: #711e32;
}
